{%extends 'base.html'%}

{%block breadcrumb%}
<li class="breadcrumb-item active">   <a href="/">Change Password</a></li>
    
{%endblock%}

{%block content%}

        <div class="row justify-content-center">
            <div class="container">
                <form action="" method="POST">
                    
                    {% csrf_token %}
                    {% include 'form.html' %}
                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                </form>
            </div>
        </div>
{%endblock%}